[defaults]
localhost_warning=False
retry_files_enabled=False
# Retry files disabled to avoid cluttering CI/CD environments
interpreter_python=auto_silent
timeout=30
library=~/.ansible/plugins/modules:./ansible/plugins/modules:/usr/share/ansible/plugins/modules
roles_path=~/.ansible/roles:./ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles
filter_plugins=~/.ansible/plugins/filter:./ansible/plugins/filter:/usr/share/ansible/plugins/filter
# Local install (~/.ansible/collections) takes precedence for dev; container image provides /usr/share/ansible/collections
collections_path=~/.ansible/collections:/usr/share/ansible/collections

[inventory]
inventory_unparsed_warning=False
