{{- $license := (lookup "v1" "Secret" "trilio-system" "trilio-license") }}
{{- if $license }}
apiVersion: triliovault.trilio.io/v1
kind: License
metadata:
  name: trilio-license
  namespace: trilio-system
spec:
  key: {{ $license.data.key | b64dec | quote }}
{{- end }}
