apiVersion: batch/v1
kind: Job
metadata:
  name: trilio-license-job
  namespace: trilio-system
spec:
  template:
    spec:
      serviceAccountName: trilio-license-job
      containers:
      - name: license-job
        image: bitnami/kubectl:latest
        command:
        - /bin/sh
        - -c
        - |
          until kubectl get secret trilio-license -n {{ .Values.trilio.namespace | default "trilio-system" }}; do sleep 10; done
          LICENSE=$(kubectl get secret trilio-license -n {{ .Values.trilio.namespace | default "trilio-system" }} -o jsonpath="{.data.key}" | base64 -d)
          cat <<EOF | kubectl apply -f -
          apiVersion: triliovault.trilio.io/v1
          kind: License
          metadata:
            name: trilio-license
            namespace: {{ .Values.trilio.namespace | default "trilio-system" }}
          spec:
            key: "$LICENSE"
          EOF
      restartPolicy: OnFailure
